<div class="product-page">
	

	<div class="row md-padding">
		<div class="col-md-8">
			<img ng-src="productimages/{{productItem.imageurl}}" class="product-image" alt="{{productItem.name}}">
		</div>
		<div class="col-md-4">
			<h2>{{productItem.name}}</h2>
			<b class="md-subhead">Price: {{productItem.price}} kr</b>
			<div class="cart-module">
				<span class="glyphicon glyphicon-minus-sign md-title" ng-click="amount = amount - 1"></span>
				<b class="md-title md-padding">{{amount}}</b>
				<span class="glyphicon glyphicon-plus-sign md-title" ng-click="amount = amount + 1"></span>
				<button class="btn btn-success">Add to cart</button>
			</div>

		</div>
		<hr>
		
	</div>
	<div class="md-padding">
		<h6 class="md-subhead">PRODUCT DESCRIPTION</h6>
		<p>{{productItem.description}}</p>
		<b>Popularity: {{productItem.popularity}}/10</b>
	</div>
</div>